<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="sidebar" id="sidebarMenu" class="sidebar">
    <div class="position-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-2 mb-1">
            <span>Main Menu</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/dashboard') ? 'active' : ''}">
                    <i data-feather="home"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/medicines" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/medicines') ? 'active' : ''}">
                    <i data-feather="package"></i>
                    Medicines
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stocks" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/stocks') ? 'active' : ''}">
                    <i data-feather="layers"></i>
                    Stocks
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transactions" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/transactions') ? 'active' : ''}">
                    <i data-feather="repeat"></i>
                    Transactions
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
            <span>Administration</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/users" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/users') ? 'active' : ''}">
                    <i data-feather="users"></i>
                    Users
                </a>
            </li>
        </ul>
    </div>
</nav>
</html>